/* this css code for select-share-js theme */

#select-share-js {
	position: absolute;
	display: none;
}
.select-share-js-main {
	background: #e0e5ec;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	position: relative;
	border-radius: 5px;
}

.select-share-js-btn {
	height: 28px;
	width: 35px;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	text-decoration: none;
}
.select-share-js-btn:hover {
	box-shadow: 0px 0px 4px 0 rgba(255, 255, 255, 0.5),
		-4px -4px 6px 0 rgba(116, 125, 136, 0.2),
		inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
		inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
}

@media screen and (max-width: 1000px) {
	.select-share-js-main {
		border-radius: 3px;
	}
	.select-share-js-btn {
		border-radius: 0px;
	}
}
